In [37]:
#importing libraries 
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
import tensorflow as tf

In [38]:
#reading the csv file
df = pd.read_csv("heart.csv")

In [39]:
#Viewing the data
df.head()

,age,sex,cp,trtbps,chol,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall,output
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [40]:
#converting the values into x and y
x = df.iloc[:,0:13].values
y = df.iloc[:,13].values

In [41]:
#converting the data into test/train split
from sklearn.model_selection import train_test_split 
x_train,x_test,y_train,y_test = train_test_split(x,y, test_size=0.2 ,random_state =0)

In [42]:
#fit-transform the data 
from sklearn.preprocessing import StandardScaler
s = StandardScaler()
x_train = s.fit_transform(x_train)
x_test = s.fit_transform(x_test)

In [43]:
#Using Logistic Regression
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(random_state = 0)
classifier.fit(x_train, y_train)

LogisticRegression(random_state=0)

In [44]:
#printing the 
y_pred =classifier.predict(x_test)
y_pred

array([0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0,
       0, 0, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0,
       1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1])

In [45]:
#print the accuracy score.
from sklearn.metrics import classification_report,confusion_matrix,accuracy_score
print(accuracy_score(y_test,y_pred))

0.8524590163934426

In [51]:
#printing the y-predicted vs y_actual
ent1 = pd.DataFrame(y_test)
ent2 = pd.DataFrame(y_pred)
  
# concatenating the DataFrames
det = pd.concat([ent1,ent2], join = 'outer', axis = 1)
  
# displaying the DataFrame
print(det)

    0  0
0   0  0
1   1  1
2   0  1
3   0  0
4   1  0
.. .. ..
56  1  1
57  0  1
58  1  1
59  1  1
60  1  1

[61 rows x 2 columns]